stages:
  - test
  - build
  - deploy

test_backend:
  stage: test
  image: node:18-alpine
  script:
    - cd back-end
    - npm ci
    - npm test

test_frontend:
  stage: test
  image: node:18-alpine
  script:
    - cd front-end
    - npm ci
    - npm test

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - docker-compose build

deploy:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker-compose up -d
  only:
    - main
